* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #555;
    color: #333;
}

h1 {
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #4857ad;
}

a:hover {
    text-decoration: underline;
    color: #24338a;
}

.bg-white {
    background-color: #fff;
}

.padding {
    padding: 10px;
    box-sizing: border-box;
}

.max-width {
    max-width: 800px;
    width: 100%;
}

.max-width-login {
    max-width: 400px;
    width: 100%;
}

.bold {
    font-weight: bold;
}

.full-width {
    box-sizing: border-box;
    width: 100%;
}

.input {
    padding: 8px;
}

.input[type=text] {
    border: 1px solid #16ccf7;
    max-width: 85%;
    outline: none;
    width:100%;
}

.input[type=submit] {
    background-color: #16ccf7;
    border: none;
    max-width: 10%;
    outline: none;
    width:100%;
}

.input[type=submit]:hover {
    background-color: #54696e;
    color: #fff;
    cursor: pointer;
}

.input-full-width {
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

.btn-remove {
    background-color: #db4444;
    border: none;
    color: #fff;
    font-weight: bold;
    outline: none;
    width: 100%;
}

.btn-remove:hover {
    background-color: #473030;
    color: #fff;
    cursor: pointer;
}

.btn-login {
    background-color: #16ccf7;
    border: none;
    outline: none;
}

.btn-login:hover {
    background-color: #54696e;
    color: #fff;
    cursor: pointer;
}

.table {
    color: #1e174e;
    width: 100%;
}

.table tbody tr:nth-child(odd) {
    background-color: #adc4f0;
}

.table tbody tr:nth-child(even) {
    background-color: #bbc3d6;
}

.table tbody tr:hover {
    background-color: #c6d8e4;
    cursor: pointer;
}

.table td {
    padding: 5px;
}